/* Element styling */
:root{
    font-size: 21px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.38105;
    letter-spacing: .011em;
    --text-primary: #F7F0F0;
    --text-secondary: #484349;
    --bg-primary: #000505;
    --bg-secondary: #171717;
    --transition-speed: 300ms;

}

/* Media */
@media only screen and (max-width: 600px){
    .toolbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .toolbar-tools{
        flex-direction: row;
    }

    .item-link{
        justify-content: center;
    }

    main{
        margin-left: 0;
    }
}

@media only screen and (min-width: 600px){
    .toolbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .toolbar:hover{
        width: 16rem;
    }

    .toolbar:hover .link-text{
        display: block;
    }
}
   
body{
    margin: 0;
    padding: 0;
    color: black;
    background-color: whitesmoke;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb{
    background: #8AF3FF;
}

main{
    margin-left: 5rem;
}

.section-intro{
    height: 100vh;
    background-image: url(/img/_49A0572_HR.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-intro h1{
    margin: 0;
    padding: 0]
}


/* Toolbar */

.toolbar{
    position: fixed;
    background-color: var(--bg-primary);
    background-image: linear-gradient( #171717 , var(--bg-primary) );
    transition: width 200ms ease;
}

.toolbar:hover{
}

.toolbar:hover .link-text{
    display: block;
}

.toolbar-tools{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-item{
    width: 100%;
}

.tool-item:last-child{
    margin-top: auto;
}

.item-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.item-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.item-link:hover{
    filter: grayscale(0%) opacity(1);
    background: #171717;
    color: #18A999
}

.fa-linkedin .fa-github .fa-paper-plane{
    color: #18A999;
}