/* Element styling */
html{
    height: 100%;
    font-family: monospace;
    color: black;
}

body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 25px;
}

footer{
    background: transparent;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div{
    padding: 0;
    margin: 0;
}

section{
    background: black;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    color: gray;
    padding: 10px 0 10px 0;
    margin: auto;
}

a{
    display: block;
    color: rgba(134, 203, 146, 1);
    text-decoration: none;
    margin: auto;
    transition: transform 0.2s;
    transition-timing-function: ease-in-out;
}

a:hover{
    color: black;
    transform: scale(1.1);
}

button{
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

/* Class styling */

.block{
    background-image: white;
    padding: 10px;
    margin: 5px;
    border-top: 25px solid rgba(11, 79, 108, 1);
    vertical-align: middle;
    flex: 1;
}

.ul-spread{
    display: flex;
    padding: 0;
    flex: 1;
}

.li-icon{
    display: block;
    padding: 10px 0 10px 0;
    margin: auto;
}

/* Id styling */

#block-holder{
    background: transparent;
    padding: 10px;
    display: flex;
}

#bio{
    background: transparent;
    flex: 0.5;
}

#inline-accent{
    color: rgba(134, 203, 146, 1);
}

#projects{
    flex: 1.5;
}

#references{
    background: transparent;
    color: grey;
    text-align: center;
    width: 100%;
}

#title{
    margin: 5%;
    font-size: xx-large;
    display: flex;
    justify-content: left;
}

#content-wrapper{
    background-attachment: scroll;
}

#filler{
    border: none;
    top: 50%;
}